@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0% 20% ;
}

h4{
    font-size: 1rem;
    color: rgb(31, 31, 31);
}
h3{
    font-size: 1.5rem;
    color: rgb(31, 31, 31);
    line-height: 2.5rem;
    margin: 2rem 0rem;
}


a{
    text-decoration: none;
    color: rgb(31, 31, 31);
}